<div>
    <div class="flex h-screen w-screen justify-center items-center -my-32 flex-col space-y-7">
        <p class="xl:text-[3.3rem] lg:text-4xl md:text-2xl sm:text-lg font-bold font-['Poppins']">Welcome to the Vishwajyot High School Votings for 2023</p>
        <p class="text-3xl text-gray-600 font-semibold font-['Poppins']">Click on the below buttons to navigate</p>
        <div class="flex my-10 space-x-10">
            <app-selection-button house="Red House"></app-selection-button>
            <app-selection-button house="Blue House"></app-selection-button>
            <app-selection-button house="Green House"></app-selection-button>
            <app-selection-button house="Yellow House"></app-selection-button>
        </div>
    </div>
</div>