@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

@layer base {
  @font-face {
    font-family: 'Poppins', sans-serif;
  }
  @font-face {
    font-family: 'Ubuntu Mono', monospace;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div {
  user-select: none
}
